/*-----------------------------------*\
    # RESET STYLES
\*-----------------------------------*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*-----------------------------------*\
  # END OF RESET STYLES
\*-----------------------------------*/







/*-----------------------------------*\
  # GLOBAL STYLES
\*-----------------------------------*/

:root {
  /* This are my custom properties */

  --primary: rgb(219, 0, 40);


  /* Gradient colors */
  --overlay: 90deg, rgb(15, 17, 21) 0%, rgba(15, 17, 21, 0.5) 100%;

  /*Shadow*/
  --shadow: 0 1px 4px rgba(0, 0, 0, 2);
  
  /*Border Radius*/
  --radius-4: 4px;
  --radius-8: 8px;
  --radius-16: 16px;
  --radius-24: 24px;
  --radius-36: 36px;

  /*Transition*/
  --transition-short: 250ms ease;
  --transition-long: 500ms ease;
  --transition-longest: 900ms ease;

}

/* Apply no text decoration to all anchor links */
a, Link {
  text-decoration: none;
}

/* Remove list bullets for all list items */
li {
  list-style: none;
}

body {
  background: black;
}

/*-----------------------------------*\
  # END OF GLOBAL STYLES
\*-----------------------------------*/





/*-----------------------------------*\
  # WEBKIT SCROLLBAR STYLES
\*-----------------------------------*/

::-webkit-scrollbar-thumb {
  background: var(--background);
  border-radius: var(--radius-4);
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-button {
  background: var(--on-surface-text); /* Change the color of the buttons */
}

/* Customize the corners of the scrollbar */
::-webkit-scrollbar-corner {
  background: var(--on-surface-opacity); /* Change the color of the corners */
}

/* Hide the scrollbar when not hovering over it */
::-webkit-scrollbar {
  width: 12px; /* Set the width of the scrollbar */
  height: 12px; /* Set the height of the scrollbar */
}

:is(:hover, :focus-within)::-webkit-scrollbar-thumb {
  background-color: var(--banner-background);
}

/*-----------------------------------*\
  # END WEBKIT SCROLLBAR STYLES
\*-----------------------------------*/
