
/* This makes the header section fixed */
header {
    /* Style for the page header */
    position: fixed;
    top: 0; /* Stick the header to the top */
    left: 0; /* Stick the header to the left */
    right: 0; /* Stretch the header to the right */
    padding-block: 16px;
    padding-inline: 16px;
    display: flex;
    padding: 20px 70px;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    /* background-color: var(--vignette);  */
    /* Background color to match the container */
    backdrop-filter: blur(150px);
    /* border: 1px solid var(--on-surface-opacity); */
    z-index: 1; /* Ensure the header is above other content */
}

/* Style for the header when the home page is scrolled down */
header.scrolled {
    padding: 10px 100px;
    background: rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid var(--primary);
    border-image: linear-gradient(90deg, transparent, var(--primary), transparent);
    backdrop-filter: blur(20px);
}

.logo {
    width: 90px;
    height: auto;
    display: block;
    filter: invert(100%);
    box-shadow: var(--shadow);
}

.logo:hover {
    border: 1px solid rgb(6, 61, 6);
    transition: var(--transition-long);
    scale: 1.1;
}