.banner .content {
    /* Style for the content when its disabled */
    position: relative;
    max-width: 550px;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transition: var(--transition-short);
    z-index: 1000;
    padding-left: 100px;
}

.banner .content.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.banner .content h2 {
    /* Style for the movie-title */
    color: var(--on-surface);
    padding: 30px;
    font-size: 40px;
}

.banner .content h4 {
    /* Style for the wordings */
    color: var(--on-surface);
    opacity: 0.7;
    font-weight: 400;
    font-size: 30px;
}

.banner .content h4 span {
    /* Style for the background info about the movie */
    position: relative;
    padding: 0px 10px;
    border-right: 2px solid var(--on-surface-text);
}

/* .banner .content h4 span .genre {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-block: 8px 4px;
    width: 50px;
} */

.banner .release-year {
    position: relative;
    padding: 0 10px 0 0;
    border-right: 2px solid var(--on-surface-text);
}

.banner .age-rating {
    border-right: 0;
    background: var(--primary-btn);
    color: var(--on-surface);
    padding: 0px 8px;
    display: inline-block;
    border-radius: var(--radius-4);
}

.banner .overview {
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0 20px;
    line-height: 25px;
    color: var(--on-surface);
}

.banner .button a {
    /* Style for the buttons that will handle my events */
    position: relative;
    display: inline-block;
    margin-left: 20px;
    background: var(--vignette);
    border: 1px solid var(--on-surface-opacity);
    color: var(--on-surface);
    padding: 10px 10px;
    text-decoration: none;
    font-weight: 500;
    opacity: 0.7;
    letter-spacing: 1px;
    border-radius: var(--radius-4);
    text-transform: uppercase;
    transition: var(--transition-short);
    cursor: pointer;
}

.banner .button a:hover {
    /* Style for the buttons when we hover over them */
    background: var(--primary-btn);
    border: 1px solid var(--white);
}